{{!-- <div class="movies-parent">
{{#each cinema}} 
<div class="flex-container">
   {{>seeds}}  
</div>
{{/each}}
</div>


<img src="{{image}}" height="240" width="120"/>
<h2> {{title}}</h2> --}}


<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes!</p>
<div class="movies-container">
{{#each films}}
  <div class="card" style="width: 18rem;" id="movie-card">
    
    <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <a href="/movies/{{this._id}}" class="underline">See more</a>

    </div>
  </div>
{{/each}}
</div> 